################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MoneyMind_BE/FileContentIndex/62022ca3-c7e8-410a-a76f-f498b16acaeb.vsidx
/.vs/MoneyMind_BE/FileContentIndex/8cd40aa8-eaa6-4669-a94f-7938d140526e.vsidx
/.vs/MoneyMind_BE/FileContentIndex/ee23b11b-7337-4ac2-8468-0084f4dcda46.vsidx

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode/

# Rider
.idea/

# Visual Studio
.vs/

# Fleet
.fleet/

# Code Rush
.cr/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Google Credentials
MoneyMind_API/credentials.json